<div class = "row">
    <div class = "col-xs-9">
        <a href="/users/<%= current_user.id %>">マイページ</a>
        <div class = "actions">
            <h2>登録情報</h2>
            <%= link_to "編集する", edit_user_path(current_user), class: "btn btn-primary" %>
            <%= link_to "パスワードを変更", edit_user_password_path(current_user), class: "btn btn-primary" %>
        </div>
            <table class = "table">
                <tr>
                    <td>氏名</td>
                    <td>
                        <%= @user.first_name%> <%= @user.last_name%>
                    </td>
                    <td>カナ</td>
                    <td>
                        <%= @user.first_name_kana%> <%= @user.last_name_kana%>
                    </td>
                    <td>郵便番号</td>
                    <td>
                        <%= @user.post_code%>
                    </td>
                    <td>住所</td>
                    <td>
                        <%= @user.address%>
                    </td>
                    <td>電話番号</td>
                    <td>
                        <%= @user.phone_number%>
                    </td>
                    <td>メールアドレス</td>
                    <td>
                        <%= @user.email%>
                    </td>
                </tr>
            </table>
        <div class = "action">
            <h2>配送先</h2>
            <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
        </div>
        <div class = "action">
            <h2>注文を見る</h2>
            <%= link_to "一覧を見る", edit_user_path(current_user), class: "btn btn-primary" %>
        </div>
    </div>
</div>