<div class="container">
<h2>ショッピングカート</h2>
<%= link_to "カートを空にする",destroy_all_carts_path, method: :delete, class: "btn btn-danger" %>
<% @carts.each do |cart| %>
<table class = "table">
    <thead>
    <h2>ショッピングカート</h2>
    <%= link_to "カートを空にする",destroy_all_carts_path, method: :delete, class: "btn btn-danger" %>
        <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= cart.product.name%></td>
            <td><%= cart.product.unit_price%></td>
            <td>
                <%= form_for cart do |c|%>
                <%= c.number_field :units,min:1,max:10000,step:1 %>
                <%= c.submit "変更", class: "btn btn-primary" %>
                <% end%>
            </td>
            <td>
                <%= cart.product.unit_price * cart.units %>
            </td>
            <td>
                <%= link_to "削除する",cart_path(cart.id), method: :delete, class: "btn btn-danger" %>
            </td>
        </tr>
    </tbody>
</table>
<% end %>
</br>
<span>
<%= link_to "買い物を続ける",products_path, class: "btn btn-primary" %>
</span>

<table class = "table">
    <tr>
        <td>合計金額</td>
        <td><%#= total_price %></td>
    </tr>
</table>

<span>
    <%= link_to "情報入力に進む", orders_path, class: "btn btn-success"%>
</span>
</div>