<div class="container">
  <div class="row">
    <h3>商品一覧</h3>
    <div class="col-xs-11">
      <%= link_to "+",new_admin_product_path, class: "btn btn-primary rounded-circle p-0" %> 
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>商品名</th>
            <th>税込み価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
            <% @products.each do |product| %>
              <tr>
                <td><%= product.id %></td>
                <td><%= link_to product.name,admin_product_path(product.id) %></td>
                <td><%= disp_price(product.unit_price) %></td>
                <td><%= product.genre.genre %></td>
                <td><%= t("enums.product.status.#{product.status}") %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
</div>


