<div class="container">
  <div class="row">
    <h3>商品 詳細画面</h3>
    <div class="col-xs-4">
      <%= attachment_image_tag  @product, :image, :fill, 300, 300%>            
    </div>
    <div class="col-xs-8">
      <div class="row">
        商品名
        <%= @product.name %>        
      </div>

      <div class="row">
        ジャンル
        <%= @product.genre.genre %>        
      </div>


      <!-- ヘルパーに作成したdisp_tax_price()と、disp_price()を呼び出している -->
      <div class="row">
        税込価格(税抜価格)
        <%= disp_tax_price(@product.unit_price) %>(<%= disp_price(@product.unit_price) %>)円     
      </div>

      <!-- i18nを使って標準化？ -->
      <div class="row">        
        <%= t("enums.product.status.#{@product.status}") %>
      </div>
    </div>
</div>
<div class="col-xs-offset-7 col-xs-2">
  <%= link_to "編集する",edit_admin_product_path(@product.id),class: 'btn btn-primary btn-block' %>
</div>
