<div class="container">
    <div class = "row">
        <div class = "col-xs-3">
            <h2>ジャンル検索</h2>
            <% @genres.each do |genre|%>
            <%= genre.genre%>
            <% end %>
        </div>
    </div>

    <div class = "col-xs-9">
            <%= attachment_image_tag(@product, :image, :fill, 200, 200,  fallback: "準備中.jpg")%><br>
            <%= @product.name %>
            <%= @product.description%>
            <h2><%= tax_price(@product.unit_price)%></h2> <h5>(税込)</h5>
            <%= form_for @cart do |f| %>
            <%= f.select :units, [["1","1"], ["2","2"], ["3","3"], ["4","4"], ["5","5"]] %>
            <%= f.hidden_field :product_id, :value => @product.id%>
            <%= f.submit 'カートにいれる', class: "btn btn-primary"%>
            <% end %>
    </div>
</div>