
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-header text-center">
        <h2 class="form-header-title">会員登録</h2>
      </div>
  

        <div class="row mt-3">
          <div class="offset-4 col-4">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group">
              <%= f.label :お名前 %>
              <div class="row">
                <%= f.text_field :last_name, placeholder:"例）田中", class: "form-control offset-1 col-5" %>
                <%= f.text_field :first_name, placeholder:"例）太郎", class: "form-control offset-1 col-5" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :フリガナ %>
              <div class="row">
                <%= f.text_field :last_name_kana, placeholder:"例）タナカ", class: "form-control offset-1 col-5" %>
                <%= f.text_field :first_name_kana, placeholder:"例）タロウ", class: "form-control offset-1 col-5" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :郵便番号 %>
              <%= f.text_field :post_code, placeholder:"ハイフン無し7桁の郵便番号", class: "form-control offset-1 col-11" %>
            </div>

            <div class="form-group">
              <%= f.label :住所 %>
              <%= f.text_field :address, class: "form-control offset-1 col-11" %>
            </div>

            <div class="form-group">
              <%= f.label :電話番号 %>
              <%= f.text_field :phone_number, placeholder:"10桁または11桁の電話番号", class: "form-control offset-1 col-11" %>
            </div>

            <div class="form-group">
              <%= f.label :メールアドレス %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"例）nagano-cake@gmail.com", class: "form-control offset-1 col-11" %>
            </div>

            <div class="form-group">
              <%= f.label :パスワード（6文字以上）%>
              <%= f.password_field :password, placeholder:"パスワード", autocomplete: "new-password", class: "form-control offset-1 col-11" %>
            </div>

            <div class="form-group">
              <%= f.label :パスワード確認, class: "brown-border px-3" %>
              <%= f.password_field :password_confirmation, placeholder:"パスワード確認", autocomplete: "new-password", class: "form-control offset-1 col-11" %>
            </div>

            <div class="row">
              <%= f.submit "会員登録" %>
            </div>
          <% end %>

        </div>
      </div>

        <div class="row">
          <div class="offset-9">
            <%= link_to "会員の方はこちらからログイン", new_session_path(resource_name), class: "btn btn-sm btn-outline-danger" %>
          </div>
        </div>

    </div>
  </div>
</div>



